* {
  padding: 0;
  margin: 0;
  font-family: Roboto;
  box-sizing: border-box;
}

.header-container {
  background-color: #1F2937;
  padding: 24px;
  display: flex;
  justify-content: center;
}

.header {
  width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
}

ul.links {
  display: flex;
  gap: 24px;
  list-style-type: none;
}

.link > a {
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
}

.first-container {
  display: flex;
  justify-content: center;
  background-color: #1F2937;
}

.first-row {
  width: 900px;
  display: flex;
  padding: 50px 0;
  gap: 20px;
  /* border: 2px red solid; */
}

.first-row .first-col {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.subtext {
  font-size: 18px;
  color: #E5E7EB;
}

.first-row .signup {
  align-self: flex-start;
  padding: 4px 16px;
  background-color: #3882F6;
  border-radius: 10px;
  color: white;
}

.main-title {
  font-weight: extra-bold;
  font-size: 48px;
  color: #F9FAF8;
}

.second-container {
  display: flex;
  justify-content: center;
}

.second-row {
  width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 80px 0;
  /* border: 2px red solid; */
}

.information-header {
  font-size: 36px;
  font-weight: extra-bold;
  color: #1F2937;
  margin-bottom: 40px;
  text-align: center;
}

.image-blocks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.image-block {
  width: 150px;
}

.image-block p {
  width: 100%;
  text-align: center;
}

.image-block .box {
  border: 3px solid #3882F6;
  border-radius:10px;
  width: 150px;
  height: 150px;
  margin-bottom: 8px;
}

.third-container {
  display: flex;
  justify-content: center;
  background-color: #E5E7EB;
}

.third-row {
  width: 900px;
  padding: 80px;
  /* border: 2px red solid; */
}

.quote {
  font-weight: light;
  font-style: italic;
  font-size: 36px;
  color: #1F2937;
  margin-bottom: 8px;
}

.quote-author {
  text-align: right;
  font-size: 24px;
  font-weight: bold;
}

.fourth-container {
  display: flex;
  justify-content: center;
}

.fourth-row {
  width: 900px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 0;
  padding: 20px 100px;
  background-color: #3882F6;
  color: #F9FAF8;
  border-radius: 5px;
}

.fourth-row .signup {
  padding: 4px 16px;
  border-color: #F9FAF8;
  background-color: #3882F6;
  border-radius: 10px;
  color: white;
  border-style: solid;
}

.footer {
  padding: 24px 0;
  background-color: #1F2937;
  text-align: center;
  color: #F9FAF8;
}
