* {
  padding: 0;
  margin: 0;
  font-family: Roboto;
}

.header-container {
  background-color: #1F2937;
  padding: 24px;
  display: flex;
  justify-content: center;
}

.header {
  width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
}

ul.links {
  display: flex;
  gap: 24px;
  list-style-type: none;
}

.link > a {
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
}

.first-container {
  display: flex;
  justify-content: center;
  background-color: #1F2937;
}

.first-row {
  width: 900px;
  display: flex;
  padding: 20px;
  gap: 20px;
}

.first-row .first-col {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.subtext {
  font-size: 18px;
  color: #E5E7EB;
}

.signup {
  align-self: flex-start;
  padding: 4px 16px;
  background-color: #3882F6;
  border-radius: 10px;
  color: white;
}

.main-title {
  font-weight: extra-bold;
  font-size: 48px;
  color: #F9FAF8;
}
